version: '3.8'

services:
  # Reverse Proxy
  web:
    image: nginx
    depends_on:
      - wordpress
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ webserver_persistent_volume }}/nginx/:/etc/nginx/conf.d/"
      - "{{ webserver_persistent_volume }}/letsencrypt:/etc/letsencrypt"
      - {{ webserver_ssl_webroot_dir }}:{{ webserver_ssl_webroot_dir }}
    restart: unless-stopped
    networks:
      - webserver

  # Database
  db:
    image: mysql:{{ webserver_mysql_version }}
    hostname: db
    volumes:
      - {{ webserver_persistent_volume }}/mysql:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    networks:
      - database

  # Wordpress
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    hostname: wordpress
    restart: unless-stopped
    volumes:
      - "{{ webserver_persistent_volume }}/wordpress:/var/www/html"
    environment:
      WORDPRESS_DB_HOST: "${WORDPRESS_DB_HOST}"
      WORDPRESS_DB_NAME: "${MYSQL_DATABASE}"
      WORDPRESS_DB_USER: "${MYSQL_USER}"
      WORDPRESS_DB_PASSWORD: "${MYSQL_PASSWORD}"
    networks:
      - database
      - webserver

networks:
  webserver:
  database:
